{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Educational Content - ReadingApp</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <header>
        <div class="navbar">
            <div class="logo">ReadingApp</div>
            <ul class="nav-links">
                <li><a href="{%url 'group4:g4redirectToTeacherDashboard'%}">Dashboard</a></li>
                <li><a href="{%url 'group4:g4logout'%}">Logout</a></li>
            </ul>
        </div>
    </header>
    <main class="dashboard-container">
      <section class="form-section">
        <h2>Upload Educational Content</h2>
        <form
          action="{%url 'group4:g4uploadContent'%}"
          method="POST"
          enctype="multipart/form-data"
        >
        {% csrf_token %}
          <div class="form-group">
            <label for="title">Content Title</label>
            <input type="text" id="title" name="title" required />
          </div>
          <div class="form-group">
            <label for="file">Upload File</label>
            <input type="file" id="file" name="file" />
          </div>  
          <div class="form-group">
            <label for="description">Content Description</label>
            <textarea id="description" name="description" rows="5" required></textarea>
          </div>            

            <div class="btn-container" style="justify-content: flex-end;">
              <button type="submit" class="btn" style="margin-right: 60px;">Upload Content</button>
        </form>
      </section>
    </main>

    <footer>
      <p>© 2025 ReadingApp. All rights reserved.</p>
    </footer>
  </body>
</html>
