{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading Tips</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}">
</head>
<body>

   <!-- Header / Navbar -->
   <header>
    <nav class="navbar">
        <div class="logo">ReadingApp</div>
        <ul class="nav-links">
            <li><a href="{%url 'group4:g4redirectToDashboard'%}">Dashboard</a></li>
            <li><a href="{%url 'group4:g4logout'%}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="tip-container">
        <h1>{{content.title}}</h1>
        <img src="data:image/JPG;base64,{{ content.file }}" alt="Reading Tips" class="tip-image">
        <p class="author">{{content.username}}</p>
        <div class="rounded-box">
            {{content.description}}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2025 ReadingApp. All rights reserved.</p>
    </footer>
</body>
</html>